<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OYO CLONE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body class="d-flex flex-column min-vh-100">

    {% include 'utils/navbar.html' %}
    
    <main class="flex-grow-1">
      {% block content %}
      {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="bg-dark p-5 text-center text-white">
      All right reserved 2026. OYO CLONE |
      <a href="{% url 'vendor_login' %}" class="text-white">Login Vendor</a> |
      <a href="{% url 'vendor_register' %}" class="text-white">Register Vendor</a>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>